Source: board-beagleboard
Section: embedded
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3

Package: board-beagleboard
Architecture: all
Depends:
 u-boot-beagleboard,
 linux-beagleboard,
 firmware-beagleboard,
 ${misc:Depends}
Description: Board package for Beagleboard C/D
 This package is part of Pragmatux http://pragmatux.org
